$font-base-color: #999;
$success-200: #80CBC4;
$success-300: #4DB6AC;
$warning-200: #FFE082;
$warning-300: #FFD54F;
$error-200: #EF9A9A;
$error-300: #FFCDD2;
$info-200: #90CAF9;
$info-300: #64B5F6;
$z-index: 1001;